[Desktop Entry]
Name=Trumpow Core
Comment=Connect to the Trumpow P2P Network
Comment[de]=Verbinde mit dem Trumpow peer-to-peer Netzwerk
Comment[fr]=Trumpow, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Trumpow, eşten eşe kriptografik sanal para birimi
Exec=trumpow-qt %u
Terminal=false
Type=Application
Icon=trumpow128
MimeType=x-scheme-handler/trumpow;
Categories=Office;Finance;
